/*------config------*/

  @padding_defalt_xs: 20px;
  @color_bg: #2c3e50;
  @color_btn1: #1abc9c;
  @color_btn2: #3498db;

  @font-face { 
    font-family: 'BlessedDay';
    src: url(../fonts/blessedday.ttf) format("truetype");
  }

  @font-face { 
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-Light.ttf) format("truetype"),
       url(../fonts/OpenSans-Regular.ttf) format("truetype"),
       url(../fonts/OpenSans-Bold.ttf) format("truetype");
  }

  /*------base------*/

  body {
    font: 18px/30px 'OpenSans', Helvetica, Arial, sans-serif;
  }

  .container {
    width: 940px;
  }

  .navbar-brand {
    font-family: 'BlessedDay', Helvetica, Arial, sans-serif;
  }

/*------layout------*/

  /*Header*/
  header {
    background: url("../images/bg_header.jpg");
    background-color: @color_bg;
    background-size: cover;
    background-position: center bottom;
    color: #fff;

    .navbar {
      background: none;
      border: none;
      padding: 75px 0 175px;

      .navbar-header .navbar-brand {
        color: #fff;
        font-size: 72px;
        line-height: 0.5;
        margin: -10px -5px;

        &:hover {
          color: @color_btn1;
        }
      }

      .nav a {
        color: #fff;
        padding: 13px 10px 15px;
        border-bottom: 3px solid transparent;
        margin: 0 -15px 0 25px;

        &:hover {
        border-bottom-color: @color_btn1;
        color: #fff;
        }
      }
    }
    
    .describe {
      position: relative;

      img {
        width: 415px;
        margin: 0 37px 15px 5px;
        position: absolute;
        bottom: 0;
        left: 0;
      }

      .text-describe {
        margin-left: 454px;

        h2 {
          padding: 36px 0 27px;
        }

        p {
          padding-bottom: 47px;
        }
      }
    }
    
    .btn-block {
      position: relative;
      margin-bottom: 225px;

      .btn {
        padding: 15px 27px;
        font-size: 18px;
        width: 170px;
        margin: 0 4px;
      }

      .btn-success {
        background-color: @color_btn1;

        &:hover {
          background-color: #fff;
          color: @color_btn1;
        }
      }

      .btn-primary {
        background-color:@color_btn2;

        &:hover {
          background-color: #fff;
          color: @color_btn2;
        }
      }

      span {
        position: absolute;
        width: 30px;
        height: 30px;
        line-height: 1.5;
        border-radius: 50%;
        top: 25%;
        left: 36%;
        font-size: 14px;
        color: #34495e;
        background-color: #fff;
      }
    }
  }

  /*About*/
  #about {
    padding: 103px 0;

    h3 {
      margin: 10px;
      font-weight: bold;
    }

    p {
      padding: 8px;
    }

    .img-block {
      padding: 14px 0 0 75px;

      img {
        width: 142px;

        &:nth-child(2) {
          vertical-align: bottom;
          margin-left: 10px;
          width: 81px;
        }
      }
    }
  }

  /*Service*/
  #service {
    background-color: #f6f6f6;
    padding: 75px 0 87px;

      .text-center:hover {
        background-color: @color_btn1;
      }

    img {
      // width: 90px;
      height: 85px;
    }

    h4 {
      padding: 16px 0 10px;
      font-size: 20px;
      line-height: 24px;
    }

    p {
      font-size: 14px;
      line-height: 18px;
    }
  }

  /*Features*/
  #features {
    position: relative;

    .container-fluid {
      background: url("../images/bg_features.jpg");
      background-color: @color_bg;
      background-size: cover;

      .photo {
        position: absolute;
        top: 216px;
        left: 22px;
        right: 0;
        margin: auto;
        width: 683px;
      }
    }
  }

  /*Testimonals*/
  #testimonals {
    padding: 120px 0 105px;

    h1 {
      margin: 70px;
      font-size: 48px;
    }

    .describe-block {
      margin: 10px 0px 35px;

      img {
        float: left;
        width: 142px;
        margin-right: 25px;
      }

      p {
        font-size: 14px;
        line-height: 18px;
        padding: 20px 0;
      }
    }
  }

  /*Contact*/
  #contact {
    background-color: #34495e;
    color: #fff;
    padding: 85px 0 95px;

    .contact-block {
      padding-left: 20px;

      p {
        font-size: 14px;
        line-height: 20px;
        padding: 10px 0 30px;

        & + p {
          padding: 2px 0;
        }

        .fa {
          padding-right: 10px;
        }
      }
    }


    form {
      padding: 25px 30px;

      .form-control {
        background-color: #5d6d7e;
        margin-bottom: 15px;
        color: #999;
      }

      input.form-control {
        width: 48%;
        height: 42px;
        display: inline-block;
        vertical-align: center;

        &:nth-child(2) {
          float: right;
        }
      }

      select {
        height: 42px;
      }

      span.form-control-feedback {
        height: 30px;
        width: 37px;
        line-height: 30px;
        margin: 7px;
        background-color: @color_btn1;
        border-radius: 2px;
      }

      textarea {
        height: 152px;
      }

      .btn {
        padding: 15px 60px;
        font-size: 18px;
        float: right;
        margin-left: 15px;
        width: 170px;
      }

      .btn-success {
        background-color: @color_btn1;

        &:hover {
          background-color: #fff;
          color: @color_btn1;
        }
      }

      .btn-primary {
        background-color:@color_btn2;

        &:hover {
          background-color: #fff;
          color: @color_btn2;
        }
      }
    }
  }

  /*Footer*/
  footer {
    background-color: @color_bg;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    padding: 70px;
    position: relative;

    div {
      &:before {
        display: block;
        content: "";
        position: absolute;
        width: 0;
        top: -50px;
        left: 0;
        right: 0;
        margin: auto;
        border: 25px solid transparent;
        border-bottom-color: @color_bg;
      }
    }
  }

/*------module------*/

  /* Carousel */
  .carousel-inner {
    overflow: visible;

    .carousel-caption {
      position: inherit;
      padding: 35px 0px 380px 50px;

      h2 {
        margin-bottom: 2px;
      }

      img {
        position: absolute;
        // width: 450px;
        height: 280px;
        bottom: -10px;
        left: 20px;
        right: 0;
        margin: auto;
        z-index: 1;
      }
    }
  }
  .carousel-control {
    width: 40%;
  }

  /* HEXAGON STARTS HERE */
  .hex {
    width:140px;
    height:86px;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: auto 173px;
    -moz-background-size: auto 173px;
    -ms-background-size: auto 173px;
    -o-background-size: auto 173px;
    background-size: auto 173px;
    position: relative;
    float:left;
    margin:30px 25px 30px 0;
    text-align:center;
    zoom:1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    
    a {
      display:block;
      width: 100%;
      height:100%;
      text-indent:-9999em;
      position:absolute;
      top:0;
      left:0;
    }

    .corner-1,
    .corner-2 {
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background: inherit;
      z-index:-2;
      overflow:hidden;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;

      &:before {
        width: 169px;
        height: 163px;
        content: '';
        position: absolute;
        background: inherit;
        top:0;
        left: 0;
        z-index: 1;
        background: inherit;
        background-repeat:no-repeat;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
      }
    }
    
    .corner-1 {
      z-index:-1;
      -webkit-transform: rotate(60deg);
      -moz-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
      -o-transform: rotate(60deg);
      transform: rotate(60deg);

      &:before {
      -webkit-transform: rotate(-60deg) translate(-87px, 0px);
      -moz-transform: rotate(-60deg) translate(-87px, 0px);
      -ms-transform: rotate(-60deg) translate(-87px, 0px);
      -o-transform: rotate(-60deg) translate(-87px, 0px);
      transform: rotate(-60deg) translate(-87px, 0px);
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      -o-transform-origin: 0 0;
      transform-origin: 0 0;
      }
    }
    
    .corner-2 {
      -webkit-transform: rotate(-60deg);
      -moz-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
      -o-transform: rotate(-60deg);
      transform: rotate(-60deg);

      &:before {
        -webkit-transform: rotate(60deg) translate(-48px, -11px);
        -moz-transform: rotate(60deg) translate(-48px, -11px);
        -ms-transform: rotate(60deg) translate(-48px, -11px);
        -o-transform: rotate(60deg) translate(-48px, -11px);
        transform: rotate(60deg) translate(-48px, -11px);
        bottom:0;
      }
    }
  }

  /* ToTop-btn */
  #toTop {
      text-decoration: none;
      position: fixed;
      bottom: 80px;
      right: 30px;
      overflow: hidden;
      border: none;
      width: 32px;
      height: 32px;
      font-size: 32px;
      line-height: 38px;
      -webkit-transition: color 0.5s ease;
      transition: color 0.5s ease;
  }

  /* For lth ie9 */
  .for-ie{
    display: none;
  }

/*------state------*/

  @media (max-width: 992px) {
    .container {
      width: 100%;
    }

    header {
      .navbar {
        padding: 30px 0;

        .nav a {
          margin: -3px;
        }
      }

      .describe {
        img {
          float: left;
          position: relative;
          width: 35%;
        }

        .text-describe {
          margin: 0;

          span {
            left: 59%;
          }
        }
      }
    }

    #about {
      padding: @padding_defalt_xs;

      h3 {
        margin-top: 20px;
      }

      .img-block {
        margin-top: 15%;
      }
    }

    #service {
      padding: @padding_defalt_xs;
    }

    #features {
      .item {
        height: 400px;

        img {
          bottom: -120px;
        }
      }

      .carousel-control {
        width: 15%; 
      }
    }

    #contact {
      padding: @padding_defalt_xs 0 40px;
    }

    footer {
      padding: @padding_defalt_xs;
    }
  }

  @media (max-width: 768px) {
    header {
      .describe {
        img, span {
          display: none;
        }
      }
    }

    #about {
      .img-block {
        margin-top: 0;
      }
    }

    #service {
      .text-center {
        text-align: left;
      }

      img {
        float: left;
        margin-right: 25px;
      }
    }

    #features {
      .photo {
        display: none;
      }

      .item {
        img {
          top: 40px;
          max-height: 48%;
        }
      }
    }

    #testimonals {
      padding: 50px 0 20px;

      h1 {
        margin: 0;
      }
    }

    #contact {
      .btn {
        width: 80%;
        margin: 10px;
      }
    }
  }

  @media (max-width: 480px) {
    #features {
      .item img{
       // width: 50%;
       // height: 50%;
      }
    }
  }